@namespace Blazr.App.UI
@inherits ViewerFormBase<DcoGroup, GroupId>

<div class="row">

    <div class="col-12 col-lg-6 mb-2">
        <BlazrTextViewControl Label="Name" Value="@this.Presenter.Item.GroupName" />
    </div>

    <div class="col-12 col-lg-6 mb-2">
        <BlazrTextViewControl Label="Address" Value="@((MarkupString)this.Presenter.Item.Address.FullAddress())" />
    </div>

</div>

<div class="row">

    <div class="col-12 col-lg-4 mb-2">
        <BlazrTextViewControl Label="VAT No" Value="@this.Presenter.Item.VATNo" />
    </div>

    <div class="col-12 col-lg-8 mb-2">
        <BlazrTextViewControl Label="Tags" Value="@this.Presenter.Item.Tags.Tags" />
    </div>

</div>

<div class="row">

    <div class="col-12 col-lg-6 mb-2">
        <BlazrTextViewControl Label="Record Id" Value="@this.Presenter.Item.GroupId.Value" />
    </div>

</div>
