@namespace Blazr.App.UI
@inherits ViewerFormBase<DmoWeatherForecast, WeatherForecastId>

<div class="row">

    <div class="col-12 col-lg-6 mb-2">
        <BlazrTextViewControl Label="Id" Value="@this.Presenter.Item.Id.Value.ToDisplayId()" />
    </div>

    <div class="col-12 col-lg-6 mb-2">
        <BlazrTextViewControl Label="Date" Value="@(this.Presenter.Item.Date)" />
    </div>

</div>

<div class="row">

    <div class="col-12 col-lg-6 mb-2">
        <BlazrTextViewControl Label="Temperature &deg;c" Value="@this.Presenter.Item.Temperature.TemperatureC" />
    </div>

    <div class="col-12 col-lg-6 mb-2">
        <BlazrTextViewControl Label="Temperature &deg;f" Value="@this.Presenter.Item.Temperature.TemperatureF" />
    </div>

</div>

<div class="row">

    <div class="col-12 col-lg-10 mb-2">
        <BlazrTextViewControl Label="Summary" Value="@this.Presenter.Item.Summary" />
    </div>

</div>
