@inherits GridFormBase<DmoWeatherForecast,WeatherForecastId>
@namespace Blazr.App.UI

<div class="d-flex flex-row mb-1 pt-1 border-bottom">
    <div class="flex-fill justify-content-start h4">
        @this.formTitle
    </div>
    <div class="justify-content-end">
        <button class="btn btn-sm btn-primary" @onclick="() => OnAddAsync()">Add New Weather Forecast</button>
    </div>
</div>

<BlazrPaginator State="Pagination" />

<div class="@this.GridCss" tabindex="-1">
    <QuickGrid Theme="None" TGridItem="DmoWeatherForecast" ItemsProvider="this.GetItemsAsync" Pagination="Pagination" @ref="this.quickGrid" Class="@this.TableCss">
        <DataSetPropertyColumn DataSetName="@AppDictionary.WeatherForecast.WeatherForecastId" Class="nowrap-column" Sortable="true" Title="ID">
            @context.Id.Value.ToDisplayId()
        </DataSetPropertyColumn>
        <DataSetPropertyColumn DataSetName="@AppDictionary.WeatherForecast.Date" Class="nowrap-column" Sortable="true" Title="Date">
            @context.Date.AsGlobalDateFormat()
        </DataSetPropertyColumn>
        <DataSetPropertyColumn Align="Align.End" DataSetName="@AppDictionary.WeatherForecast.TemperatureC" Class="nowrap-column" Sortable="true" Title="Temp. (C)">
            @context.Temperature.TemperatureC
        </DataSetPropertyColumn>
        <PropertyColumn Property="(context) =>  context.Summary" Class="nowrap-column" Sortable="true" />
        <TemplateColumn Class="" Align="Align.End">
            <UIButtonGroup>
                <button class="btn btn-sm btn-secondary" @onclick="() => OnViewAsync(context.Id)">View</button>
                <button class="btn btn-sm btn-primary" @onclick="() => OnEditAsync(context.Id)">Edit</button>
            </UIButtonGroup>
        </TemplateColumn>
    </QuickGrid>
</div>

<BsModalDialog @ref=modalDialog />

@code {
    protected string TableCss = "table table-sm table-striped table-hover border-bottom no-margin hide-blank-rows";
    protected string GridCss = "grid";
}
